<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="br.com.douglas.speaktous">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/speakicone"
            android:label="Speak to Us"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".NovaPostagem">
        </activity>
        <activity android:name=".CadastroUsuario">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".TermosUso"/>
        <activity android:name=".Feed"/>
        <activity android:name=".LinksUteis"/>
        <activity android:name=".TelefonesUteis"/>
    </application>

</manifest>